######THIS FILE CONFIGURED BY ANSIBLE######
##########DONT TOUCH BY HANDS##############

define service{
    use                         {{ client_name }}-{{ service_template_name }}
    host_name                   {{ inventory_hostname }}
    service_description         Cloudian Cassandra
    check_command               check_nrpe_client!check_service!cloudian-cassandra
}


define service{
    use                         {{ client_name }}-{{ service_template_name }}
    host_name                   {{ inventory_hostname }}
    service_description         Cloudian s3
    check_command               check_nrpe_client!check_service!cloudian-s3
}

define service{
    use                         {{ client_name }}-{{ service_template_name }}
    host_name                   {{ inventory_hostname }}
    service_description         Cloudian cmc
    check_command               check_nrpe_client!check_service!cloudian-cmc
}

define service{
    use                         {{ client_name }}-{{ service_template_name }}
    host_name                   {{ inventory_hostname }}
    service_description         Cloudian Hyperstore
    check_command               check_nrpe_client!check_service!cloudian-hyperstore
}


