POSTGRES_CONTAINER_PASSWORD={{ POSTGRES_CONTAINER_PASSWORD }}
POSTGRES_CONTAINER_USER={{ POSTGRES_CONTAINER_USER }}
GF_SECURITY_ADMIN_USER={{ GF_SECURITY_ADMIN_USER }}
GF_SECURITY_ADMIN_PASSWORD={{ GF_SECURITY_ADMIN_PASSWORD }}
ALERT_MANAGER_TELEGRAM_BOT={{ ALERT_MANAGER_TELEGRAM_BOT }}
ALERT_MANAGER_CHAT_ID={{ ALERT_MANAGER_CHAT_ID }}
MINIO_ROOT_USER={{ MINIO_ROOT_USER }}
MINIO_ROOT_PASSWORD={{ MINIO_ROOT_PASSWORD }}
TELEGRAM_CHAT_SERVICE_POSTGRES_CONTAINER_USER={{ TELEGRAM_CHAT_SERVICE_POSTGRES_CONTAINER_USER }}
TELEGRAM_CHAT_SERVICE_POSTGRES_CONTAINER_PASSWORD={{ TELEGRAM_CHAT_SERVICE_POSTGRES_CONTAINER_PASSWORD }}
SUBSCRIPTIONS_HOLDER_DATA_SOURCE={{ SUBSCRIPTIONS_HOLDER_DATA_SOURCE }}
TELEGRAM_CHAT_DATA_SOURCE={{ TELEGRAM_CHAT_DATA_SOURCE }}