JASYPT_MASTER_PASSWORD={{ JASYPT_MASTER_PASSWORD }}
POSTGRES_CONTAINER_PASSWORD={{ POSTGRES_CONTAINER_PASSWORD }}
POSTGRES_CONTAINER_DB={{ POSTGRES_CONTAINER_DB }}
POSTGRES_CONTAINER_USER={{ POSTGRES_CONTAINER_USER }}
POSTGRES_CONTAINER_URL={{ POSTGRES_CONTAINER_URL }}
TELEGRAM_BOT_NAME={{ TELEGRAM_BOT_NAME }}
TELEGRAM_BOT_API_TOKEN={{ TELEGRAM_BOT_API_TOKEN }}
JAR_VERSION={{ JAR_VERSION }}
DOCKER_HUB_USER={{ DOCKER_HUB_USER }}
TELEGRAM_CHAT_SERVICE_POSTGRES_CONTAINER_URL={{ TELEGRAM_CHAT_SERVICE_POSTGRES_CONTAINER_URL }}
TELEGRAM_CHAT_SERVICE_POSTGRES_CONTAINER_USER={{ TELEGRAM_CHAT_SERVICE_POSTGRES_CONTAINER_USER }}
TELEGRAM_CHAT_SERVICE_POSTGRES_CONTAINER_PASSWORD={{ TELEGRAM_CHAT_SERVICE_POSTGRES_CONTAINER_PASSWORD }}
TELEGRAM_CHAT_SERVICE_POSTGRES_CONTAINER_DB={{ TELEGRAM_CHAT_SERVICE_POSTGRES_CONTAINER_DB }}
TELEGRAM_CHAT_SERVICE_JASYPT_MASTER_PASSWORD={{ TELEGRAM_CHAT_SERVICE_JASYPT_MASTER_PASSWORD }}