######THIS FILE CONFIGURED BY ANSIBLE######
##########DONT TOUCH BY HANDS##############

define service{
    use                         {{ client_name }}-{{ service_template_name }}
    host_name                   {{ inventory_hostname }}
    service_description         redis sentinel cluster status
    max_check_attempts          3
    check_command               check_nrpe!check_redis_sentinel
}
