# {{ ansible_managed }}

LoadPlugin redis

<Plugin redis>
   <Node "redis">
      Host "localhost"
      Port "6379"
      Timeout 2000
      Password "{{ collectd_redis_password }}"
   </Node>
</Plugin>

